{% extends 'base.html.twig' %}

{% block title %}
    {{ participant.pseudo }} | {{ parent() }}
{% endblock %}

{% block body %}

    <div>
        <article>
            {% if participant.image.nom is defined %}
                <img class="imgProfil" src="{{ asset('image/imagesProfil/')~participant.image.nom }}" alt="Image de profil de {{ participant.pseudo }}" >
            {% else %}
                <p>Pas de photo de profil</p>
            {% endif %}
        </article>
        <div>
            <h2> {{ participant.pseudo }}</h2>
            <br>
            <div>Prénom : {{ participant.prenom }}</div>
            <br>
            <div>Nom : {{ participant.nom }}</div>
            <br>
            <div>Téléphone : {{ participant.telephone }}</div>
            <br>
            <div>Email : {{ participant.email }}</div>
            <br>
            <div>Campus : {{ participant.campus.nom }}</div>
            <div>
                <br>
                {#TODO: et si participant affiché != de user - ?? {% if participant.id == user.id and participant.image is not defined%}  AJOUTER Image#}

                <button><a href="{{ path('main_home') }}">Retour</a></button>
                <div>
                {% if is_granted("ROLE_ADMIN") and participant.id!=user.id %}
                    <a href="{{ path('participant_delete',{'id':participant.id})}}" title="Supprimer participant"><button>Supprimer</button></a>
                {% endif %}
                </div>
                {%  if app.user.id == participant.id  %}
                <div>
                <a href="{{ path('participant_modifier', {'id':participant.id}) }}" title="Modifier mon profil">Modifier mon profil</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

