{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <table>

            <tr>
                <th>Image</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôle</th>


            </tr>

            {% for participant in participants %}
            <tr>
                <td> {% if participant.image.nom is defined %}
                        <img class="imgProfilListe" src="{{ asset('image/imagesProfil/')~participant.image.nom }}" alt="Image de profil de {{ participant.pseudo }}" >
                    {% else %}
                        <p>Pas de photo</p>
                    {% endif %}</td>
                <td><a href="{{ path('participant_details', {'id': participant.id}) }}"> {{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.email }}</td>
                <td> {% if participant.administrateur == 1 %}
                    ADMIN
                {% elseif participant.administrateur == 0 %}
                    USER
                {% endif %}
                </td>
            </tr>


            {% endfor %}
                </table>
    </section>
{% endblock %}

{% block title %}
    Detail Participant {{ parent() }}
{% endblock %}

