{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 >Gerer les Campus</h1>
        <div>
            // TODO: faire methode de recherche d'une ville
            <h2>Rechercher une ville</h2>

            <a href="{{ path('campus_liste') }}"><button class="btn btn-primary">rechercher</button></a>




            <br>


        </div>


        <table  style="width:100%">
            <thead>
            <th>
            <td> nom</td>
            <td >action/td>


            {% if is_granted('ROLE_ADMIN') %}

                <td >Action</td>

            {% endif %}

            </th>
            </thead>
            <tbody>

            {% if Campus is defined and Campus is not empty %}

                {% for Campus in Campus %}

                    <tr>
                        <td >{{ Campus.id }} </td>
                        <td >{{ Campus.nom }}</td>


                        {% if is_granted('ROLE_ADMIN') %}


                            <td >Action</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr >
                    <th scope="row" colspan="4">Aucun campus trouvé...</th>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>
    <div>
        <br>
        {% if is_granted('ROLE_ADMIN') %}

            <h2>Ajouter un campus</h2>
            {{ form_start(CampusForm) }}

            {{ form_widget(CampusForm) }}


            <a href="{{ path('campus_liste') }}"><button class="btn btn-primary">Ajouter</button></a>

            // TODO: faire methode de suppression des campus
            <a href="{{ path('campus_delete') }}"><button class="btn btn-primary">Supprimer</button></a>

            {{ form_end(CampusForm) }}

        {% endif %}
        <br>
    </div>

{% endblock %}