{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 >Gerer les Campus</h1>
        <div>
            #afficher le formulaire de recherche
            <input type="button" name="recherche" value="recherche">
        </div>


        <table  style="width:100%">
            <thead>
            <th>
            <td >id</td>
            <td >Nom</td>


            {% if is_granted('ROLE_ADMIN') %}

                <td >Action</td>

            {% endif %}

            </th>
            </thead>
            <tbody>

            {% if campus is defined and campus is not empty %}

                {% for campus in Campus %}

                    <tr>
                        <td >{{ campus.id }} </td>
                        <td >{{ campus.nom }}</td>


                        {% if is_granted('ROLE_ADMIN') %}


                            <td >Action</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr >
                    <th scope="row" colspan="4">Aucun campus trouvé...</th>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>
    <div>
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            #afficher le formulaire d'ajout
            <h2>Ajouter une ville</h2>
            {{ form_start(CampusForm) }}

            {{ form_widget(CampusForm) }}

            <a href="{{ path('campus_liste') }}"><button class="btn btn-primary">Ajouter</button></a>

            {{ form_end(CampusForm) }}

        {% endif %}
        <br>
    </div>

{% endblock %}