{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 >Gerer les villes</h1>

        <h2>Rechercher une ville</h2>
        {{ form_start(rechercheVilleForm) }}
        {{ form_widget(rechercheVilleForm) }}
        {{ form_end(rechercheVilleForm) }}
        <br>
        <button>Rechercher</button>





        <table  style="width:100%">
            <thead>
            <th>
            <td >nom</td>
            <td >code postale</td>


            {% if is_granted('ROLE_ADMIN') %}

                <td >Action</td>

            {% endif %}

            </th>
            </thead>
            <tbody>

            {% if ville is defined and ville is not empty %}

                {% for ville in ville %}

                    <tr>
                        <td >{{ ville.id }} </td>
                        <td >{{ ville.nom }}</td>
                        <td >{{ ville.codePostal }}</td>

                        {% if is_granted('ROLE_ADMIN') %}


                            <td >Action</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr >
                    <th scope="row" colspan="4">Aucun ville trouvé...</th>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>
    <div>
    <br>
    {% if is_granted('ROLE_ADMIN') %}

    <h2>Ajouter une ville</h2>
        {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
        <a href="{{ path('villes_liste') }}"><button class="btn btn-primary">Ajouter</button></a>

        <a href="{{ path('villes_delete') }}"><button class="btn btn-primary">Supprimer</button></a>
        {{ form_end(villeForm) }}

    {% endif %}
    <br>
    </div>

{% endblock %}