<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} Sortir.com {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nomalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('image/logo-eni-ecole.png') }}">
</head>
<body>
    <header>

        <h1><img src="{{ asset('image/logo-eni-ecole.png') }}" alt="ENI"></h1>
        {% include('inc/nav.html.twig') %}


    </header>

    <main>
    {% block body %} {% endblock %}
    </main>

    <footer>
        © {{ "now"|date("Y") }} Sorti.com - Projet ENI/2 - nicolas Reymond/Jean-marc Vetu/Tatiana Pocquet
    </footer>
</body>
</html>