<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} Sortir.com {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="{{ asset('css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nomalize.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('image/image_processing20200219-3863-14h1dgg.gif') }}">
</head>
<body>
<div class="container">

    <header>
        <div class="logo">
            <div class="logo-titre">
                <a href="{{ path('main_home') }}"><img style="width: 30%" alt="logo" src="{{asset('image/logo-sortir_2x-0087abb548-removebg-preview-removebg-preview.png')}}"></a>

            </div>
            <div class="link">{% include('inc/nav.html.twig') %}</div>

        </div>
    </header>

<div class="container"></div>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %} {% endblock %}
    </main>

    <footer>
        © {{ "now"|date("Y") }} Sortie.com - Projet ENI/2 - Nicolas Reymond/Jean-marc Vetu/Tatiana Pocquet
    </footer>
</div>
</body>
</html>