<nav>
    <ul>


        <li><a href="{{ path('main_home') }}" title="Home">Acceuil</a></li>
        <li><a href="{{ path('villes_liste') }}" title="Ville">Ville</a></li>
        <li><a href="{{ path('campus_liste') }}" title="Campus">Campus</a></li>
        <li><a href="{{ path('participant_profile') }}" title="Profil">Mon profil</a></li>

        {% if app.user %}


        <li><a href="{{ path('app_logout') }}" title="Logout">Se deconnecter ({{ app.user.nom }})</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('app_register') }}" title="Login">Cree un Participant</a></li>
                <li><a class="dashboard" href="{{ path('admin_dashboard') }}" title="Admin dashboard">AdminDashboard</a></li>

            {% endif %}

        {%else  %}

        <li><a href="{{ path('app_login') }}" title="Login">Se Connecter</a></li>

        {% endif %}
        <li><a href="{{ path('sortie_create') }}">Créer une sortie</a> </li>


    </ul>
</nav>